@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: first;
  src: url('../public/font/texgyreadventor-regular.otf');
}

body {
  /* font-family: 'Inter', BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    Sans-Serif; */
  font-family: 'Kanit', 'Inter', BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, Sans-Serif;
  overflow-y: scroll; /* force vertical scrollbar to avoid app shift */
}

/* Chakra-UI Modification for <Tabs /> */
.css-1ltezim[disabled],
.css-1ltezim[aria-disabled='true'],
.css-1ltezim[data-disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}

/* h1 {
  font-family: first;
} */
